.app{
  background-color: #121212;
  height: 100%;
  color: #fff;
  margin: 0;
}
.header{
  background-color: #032538d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
}
.header h2 span{
  color: rgb(238, 4, 4);
}
.header-search{
  background-color: #020202ea;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
}
.header-search::placeholder{
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  overflow: auto;
}
button{
  color: #020202;
  background-color: yellow;
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
.movie-container{
  margin: 0;
  padding: 10px 40px;
}
.movie-container h2 {
  color: #020202;
  background-color: yellow;
  width: fit-content;
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 23px;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}
.movie-items{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-height: 90vh;
}
.movie-item{
  height: 300px;
  width: 250px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.movie-overview{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #020202;
  background-color: #fff;
  max-height: 280px;
  overflow-y: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2px 5px;
  transform: translateY(50%);
  text-align: justify;
  /* display: none; */
  opacity: 0;
  transition: transform 1s, opacity 1s ease-in-out;
}
.movie-item:hover .movie-overview{
  transform: translateY(0);
  /* display: block; */
  opacity: 1;
}
.movie-overview h2{
  background-color: transparent;
  font-weight: 900;
  letter-spacing: 0;
  color: red;
}
.movie-img{
  width: 250px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.movie-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.movie-title{
  font-size: 15px;
}
.movie-rate{
  background-color: #020202bd;
  border-radius: 5px;
  padding: 5px;
  height: max-content;
  cursor: pointer;
}
.movie-rate.red{
  color: red;
}
.movie-rate.green {
  color: green;
}
.movie-rate.orange{
  color: orange;
}
.movie-date{
  bottom: 15px;
  font-size: 18px;
  left: 10px;
}
@media (max-width: 600px){
  header h2{
    font-size: 15px;
  }
  .movie-item, .movie-img{
    width: 200px;
  }
}
@media (max-width: 500px){
  header h2{
    max-width: 100px;
    line-height: 20px;
  }
  .header-search{
    width: 160px;
  }
  button{
    padding: 5px 15px;
    letter-spacing: 0px;
    font-size: 13px;
    margin-left: 8px;
  }
  .movie-container{
    padding: 10px 20px;
  }
  .movie-container h2{
    margin-left: 20px;
    font-size: 12px;
  }
  .movie-items{
    gap:20px 10px ;
  }
  .movie-item{
    height: 200px;
  }
  .movie-img{
    height: 150px;
  }
  .movie-item, .movie-img{
    width: 150px;
  }
  .movie-title{
    font-size: 13px;
  }
  .movie-rate{
  font-size: 12px;
  }
  .movie-date{
    font-size: 13px;  
  }
  .movie-overview{
    max-height: 180px;
  }
}
@media (max-width: 407px){
  .movie-container{
    padding: 10px 10px;
  }
  .movie-item, .movie-img{
    width: 150px;
  }
}
/* @media (max-width: 380px){
  button{
    display: none;
  }
} */
.footer{
  margin-top: 50px;
  min-height: 80px;
  background-color: #032538d2;
}
